<div class="container position d-flex flex-column min-vh-100">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-body">
          <form
            [formGroup]="accountFormGroup"
            (ngSubmit)="handleSearchAccount()"
          >
            <div class="input-group">
              <label class="input-group-text">Account Id :</label>
              <input
                type="text"
                formControlName="accountId"
                class="form-control"
              />
              <button class="btn btn-info">
                <i class="bi bi-search">Search</i>
              </button>
            </div>
          </form>
          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessage">
              <div class="text-danger">
                {{ errorMessage }}
              </div>
            </ng-container>
          </ng-template>
          <ng-container
            *ngIf="
              accountObservable | async as accountDetails;
              else errorTemplate
            "
          >
            <div class="mb-4 mt-4">
              <label>AccountID :</label>
              <label
                ><strong>{{ accountDetails.accountId }}</strong></label
              >
            </div>
            <div class="mb-4 mt-4">
              <label>Balance :</label>
              <label
                ><strong>{{
                  accountDetails.balance | number: "1.2-2"
                }}</strong></label
              >
            </div>
            <table class="table">
              <thead>
                <th class="text-center">ID</th>
                <th class="text-center">Date</th>
                <th class="text-center">Type</th>
                <th class="text-center">Amount</th>
              </thead>
              <tbody>
                <tr *ngFor="let op of accountDetails.accountOperationDTO">
                  <td class="text-center">{{ op.id }}</td>
                  <td class="text-center">
                    {{ op.operationDate | date: "dd-MM-yyyy:HH-mm-ss" }}
                  </td>
                  <td class="text-center">{{ op.type }}</td>
                  <td class="text-center">
                    {{ op.amount | number: "1.2-2" }}
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li
                *ngFor="
                  let item of [].constructor(accountDetails.totalPages);
                  let page = index
                "
              >
                <a
                  [ngClass]="
                    page == currentPage ? 'btn-danger' : 'btn-outline-danger'
                  "
                  (click)="gotoPage(page)"
                  class="btn ms-3 mt-3"
                  >{{ page }}</a
                >
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card" *ngIf="accountObservable">
        <div class="card-header">Operations</div>
        <div class="card-body">
          <form
            [formGroup]="operationFormGroup"
            (ngSubmit)="handleAccountOperation()"
            method="post"
          >
            <div class="form-chek form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="operationType"
                value="DEBIT"
              />
              <label class="form-check-label">DEBIT:</label>
            </div>
            <div class="form-chek form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="operationType"
                value="CREDIT"
              />
              <label class="form-check-label">CREDIT:</label>
            </div>
            <div class="form-chek form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="operationType"
                value="TRANSFER"
              />
              <label class="form-check-label">TRANSFER:</label>
            </div>

            <div
              class="mb-3"
              *ngIf="operationFormGroup.value.operationType == 'TRANSFER'"
            >
              <label>Account Destination :</label>
              <input
                type="text"
                class="form-control"
                formControlName="accountDestination"
              />
            </div>

            <div class="mb-3">
              <label>Amount :</label>
              <input
                type="text"
                class="form-control"
                formControlName="amount"
              />
            </div>

            <div class="mb-3">
              <label>Description :</label>
              <input
                type="text"
                class="form-control"
                formControlName="description"
              />
            </div>
            <div class="d-grid mt-3 mb-3">
              <button class="btn btn-success">Save Operation</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
