<div class="container d-flex flex-column min-vh-100">
  <div class="row positionCard">
    <div class="col-md-4">
      <div class="card mx-auto shadow-lg" style="width: 20rem">
        <img
          src="../../assets/images/ListOfCustomers.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">List of Customers</h5>
          <a
            routerLink="/navbar/customers"
            class="btn btn-outline-warning mt-3 d-grid"
            ><strong>Go</strong></a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mx-auto shadow-lg" style="width: 19.8rem">
        <img
          src="../../assets/images/AddNew.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Add New Customer</h5>
          <a
            routerLink="/navbar/new-customer"
            class="btn btn-outline-warning mt-3 d-grid"
            ><strong>Go</strong></a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mx-auto shadow-lg" style="width: 20rem">
        <img
          src="../../assets/images/Operation.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Consult Operations</h5>
          <a
            routerLink="/navbar/accounts"
            class="btn btn-outline-warning mt-3 d-grid"
            ><strong>Go</strong></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
