<div class="container position">
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <div class="card-body">
          <form
            [formGroup]="accountFormGroup"
            (ngSubmit)="handleSearchAccount()"
          >
            <div class="input-group">
              <label class="input-group-text">Account Id :</label>
              <input
                type="text"
                formControlName="accountId"
                class="form-control"
              />
              <button class="btn btn-info">
                <i class="bi bi-search">Search</i>
              </button>
            </div>
          </form>

          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessage">
              <div class="text-danger">
                {{ errorMessage }}
              </div>
            </ng-container>
          </ng-template>
          <ng-container
            *ngIf="
              accountObservable | async as accountDetails;
              else errorTemplate
            "
          >
            <div class="d-grid mb-4 mt-4">
              <input
                type="button"
                class="btn btn-outline-danger"
                (click)="PrintThisPage()"
                value="Print"
              />
            </div>

            <div class="mb-3 mt-3">
              <div>
                Customer Name :&nbsp;
                <span>
                  <strong>{{ acc.customerDTO.name }}</strong>
                </span>
              </div>
            </div>

            <div class="mb-3 mt-3">
              <div>
                Customer ID :&nbsp;
                <span>
                  <strong>{{ acc.customerDTO.id }}</strong>
                </span>
              </div>
            </div>

            <div class="mb-3 mt-3">
              <div>
                Customer Balance :&nbsp;
                <span>
                  <strong>{{ acc.balance | number: "1.2-2" }}&nbsp;TND</strong>
                </span>
              </div>
            </div>

            <table class="table">
              <thead>
                <th class="text-center">Operation ID</th>
                <th class="text-center">Date</th>
                <th class="text-center">Type</th>
                <th class="text-center">Amount</th>
              </thead>
              <tbody>
                <tr *ngFor="let op of accountDetails">
                  <td class="text-center">{{ op.id }}</td>
                  <td class="text-center">
                    {{ op.operationDate | date: "dd-MM-yyyy:HH-mm-ss" }}
                  </td>
                  <td class="text-center">{{ op.type }}</td>
                  <td class="text-center">
                    {{ op.amount | number: "1.2-2" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
