<div class="container position d-flex flex-column min-vh-100">
  <div class="card col-md-6 offset-3 mt-4 shadow-lg">
    <div class="card-header"><strong>Update Customer</strong></div>
    <div class="card-body">
      <form (ngSubmit)="editCustomer()">
        <div class="mb-3 form-group">
          <label class="form-label">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="customer.name"
          />
        </div>
        <div class="mb-3 form-group">
          <label class="form-label">Email:</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="customer.email"
          />
        </div>
        <button class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
